---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---
<li class="lg:py-1">
  <a href={'#' + heading.slug} class="text-base">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul style={`margin-left: ${(heading.depth-1)*20}px;`} >
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
a.active {
  font-weight: 800;
  text-decoration: underline;
}
</style>